*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
}
a {
    text-decoration: none;
    color: black;
}
/* ------------------------------------------------------------- */
/* Aqui comienza el Header */
header {
    padding: 10px;
    background-color: yellow;
}
.top-header{
    padding: 5px;
}
header .links{
    display: none;
}
#inp{
    width: 183px;
}
#sub{
    margin-left: 8px;
    height: 20px;
    width: 20px;

}
.burger{
    display: flex;
    justify-content: center;
}
.burger-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: #1259c3;
    color: white;
    border-radius: 10%;

}
.buscador{
 display: inline-flex;
}

/* Aqui finaliza el Header */

/* ------------------------------------------------------------- */

/* Aqui comienza el Main */
main{
    margin: auto;
    padding: auto;
    width: 90%;
}
article{
    margin-top: 10px;
    border-width: 15px;
}
.etiquetas{
    margin-left: 15px;
    margin-bottom: 6px;
    border-top: solid 1px #ebebeb;
   
}
main article .etiquetas h3{
    display: none;
}
.articulos{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ads{
   width: 100%;
}
.price{
    font-size: 18px
}
.descuentos{
    font-size: 16px;
    color: #39b54a;
}
.titulares{
    font-size: 24px;
    padding: 10px;
    display: flex;
    justify-content: center;
}
/* Carrusel */
.slider{
    width: 100%;
    height: auto;
    margin: auto;
    overflow: hidden;
}
.slider .slide-track{
    display: flex;
    animation: scroll 10s linear infinite;
    -webkit-animation: scroll 10s linear infinite;
    width: calc(360px * 8);
}
.slider .slide{
    width: 360px;
    margin-right: 35px;
}
.slider .slide img{
    width: 100%;
}
@keyframes scroll{
    0%{
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
   100%{
        -webkit-transform: translateX(calc(-360px * 4));
        transform: translateX(calc(-360px * 4))
    }
}
/* Fin del Carrusel */

/* Aqui finaliza el Main */
/* ------------------------------------------------------------- */
/* Aqui empieza el footer */
footer {
    display: flex;
    flex-direction: column;
    background-color: white;
}
.info{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icons{
  color: #1259c3;
    font-size: 2em;
    padding: 10¿px;
}
/* Aqui finaliza el footer */
/* ------------------------------------------------------------- */

/* Media Queries */
@media (min-width:361px){
    main article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    header .links{
        display: inline-block;
    }
    header .burger{
        display: none;
    }
    main article .etiquetas h3{
        display: block;
    }

}
/* ------------------------------------------------------------- */
